<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Portfolio</h3>
    {% if page.title == "Home" %}
    <p>Publications</p>
      <ul>
      {% for item in site.data.publications.featured %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    <p>Surveys and Presentations</p>
      <ul>
      {% for item in site.data.portfolio.featured %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
    <p>Publications</p>
      <ul>
      {% for item in site.data.publications.featured %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    <p>Surveys and Presentations</p>
      <ul>
      {% for item in site.data.portfolio.index %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
